:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --secondary-text-color: #555;
  --card-background: rgba(0, 0, 0, 0.05);
  --button-background: #007aff;
  --button-hover: #005bb5;
  --icon-filter: invert(1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --secondary-text-color: #bbb;
    --card-background: rgba(255, 255, 255, 0.1);
    --icon-filter: invert(1);
  }
}

body {
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  margin: 1em;
  padding: 1.5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.container {
  max-width: 45vh;
  width: 100%;
  background: var(--card-background);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #000000;
}
.profile h1 {
  font-size: 24px;
  margin: 5px 0;
  font-weight: 600;
}
.profile h2 {
  font-size: 16px;
  margin: 5px 0 20px;
  font-weight: 400;
  color: var(--secondary-text-color);
}
.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background);
  color: white;
  text-decoration: none;
  padding: 1em;
  margin: 1.5em 0;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.3s, transform 0.1s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 122, 255, 0.3);
}
.links a:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
}
.links a:active {
  background-color: #004a99; /* Slightly darker blue for press feedback */
  transform: scale(0.95); /* Slight shrink effect */
  box-shadow: 0 2px 5px rgba(0, 122, 255, 0.2);
}
.links a img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
  filter: var(--icon-filter);
  transition: filter 0.3s;
}
